<html>
<head>
  <title>Brasilia</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=1.0"/>
  <!-- build:css css/{{site}}.css -->
  <link rel="stylesheet" href="https://use.typekit.net/nwz6jsn.css">

  <link rel="stylesheet" href="css/fontello.css" />
  <link rel="stylesheet" href="css/animation.css" />
  <link rel="stylesheet" href="libraries/mapbox-gl.css" />

  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <meta property="og:url" content="https://imaginerio.org" />
  <meta property="og:title" content="imagineRio" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="img/cover.png" />
</head>
<body>
  <div class="outer-container outer-container--desktop footer-open">
    <div class="outer-map-view">
      <%= require('html-loader!./header.html') %>
      <%= require('html-loader!./map.html') %>
      <%= require('html-loader!./sidebar.html') %>
      <%= require('html-loader!./probeButtons.html') %>
      <%= require('html-loader!./footer.html') %>
      <%= require('html-loader!./allraster.html') %>
    </div>
  </div>

  <!-- <script src="libraries/jquery.min.js"></script> -->
  <!-- <script src="libraries/underscore-min.js"></script> -->
  <script src="libraries/d3.min.js"></script>
  <script src="libraries/d3-selection-multi.min.js"></script>
  <!-- <script src="libraries/hammer.min.js"></script> -->
  <script src="libraries/mapbox-gl.js"></script>
</body>
</html>