{ 
  "extends": ["airbnb"],
  "plugins": ["jest"],
  "globals": {
    "d3": false,
    "L": false,
    "Image": false,
    "window": false,
    "$": false,
    "_": false,
    "document": false,
    "alert": false,
    "mapboxgl": false,
    "XMLSerializer": false
  },
  "env": {
    "jest/globals": true
  },
  "rules": {
    "max-lines": "warn",
    "no-console":"off",
    "no-unused-vars": "warn"
  }
}