.lightbox__outer,
.allraster__outer {
  background: $lightbox-background;
  // display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: white;
}

.lightbox__outer--on {
  display: flex;
}

.lightbox__inner,
.allraster__inner {
  background: $main-background-fill;
  // box-shadow: $lightbox-shadow;
  border-radius: 5px;
}

.lightbox__inner {
  overflow-y: scroll;
}

.allraster__inner {
  overflow-y: auto;
}

.lightbox__content {
  padding: 20px;
  // padding-right: 35px;
}

.allraster__title {
  // padding: 20px;
  display: flex;
  font-size: 18px;
  // margin-bottom: 30px;
}

.allraster__title-text {
  margin-left: 5px;
  text-transform: capitalize;
}

.allraster__content {
  padding: 20px;
}

.allraster__image-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 25px;
}

.allraster__image {
  margin-bottom: 20px;
}
