.allraster__outer {
  
  background: $lightbox-background;
  // display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: white;
}

.allraster__inner {
  background: $main-background;
  box-shadow: 0 0 8px rgba(255,255,255,0.25);
  border-radius: 5px;
  overflow-y: auto;
}

.allraster__title {
  padding: 20px;
}

.allraster__content {
  padding: 20px;
}

.allraster__image-block {
  display: flex;
  flex-wrap: wrap;
}

.allraster__image {
  margin-bottom: 20px;
}