.search-box {
  // border: 4px solid rgba(1, 34, 95, 0.5);
  border: 4px solid rgba(204, 204, 204, 0.75);
  // background: rgba(1, 34, 95, 0.2);
  background: rgba(204, 204, 204, 0.2);
  pointer-events: none;
}

.search-box--hidden {
  display: none;
}

.map--area-search canvas {
  cursor: crosshair;
}

.mapboxgl-ctrl-bottom-left {
  bottom: 50px;
}