.search-box {
  // border: 4px solid rgba(1, 34, 95, 0.5);
  border: 4px solid rgba(204, 204, 204, 0.75);
  // background: rgba(1, 34, 95, 0.2);
  background: rgba(204, 204, 204, 0.2);
  pointer-events: none;
}

.search-box--hidden {
  display: none;
}

.map--area-search canvas {
  cursor: crosshair;
}

.mapboxgl-ctrl-bottom-left {
  bottom: 50px;
  pointer-events: auto;
}

.atlas__button-container {
  margin-left: 10px;
  margin-bottom: 5px;
  color: white;
}

.atlas__zoom-break {
  margin: 0px;
  height: 1px;
  background: #666666;
  border: none;
}

.atlas__zoom-buttons,
.atlas__center-button {
  border-radius: 5px;
}

.atlas__zoom-in-button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.atlas__zoom-out-button {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.atlas__zoom-in-button,
.atlas__zoom-out-button,
.atlas__center-button {
  cursor: pointer !important;
  width: 40px;
  height: 40px;
  background: $atlas-button-background;
  display: flex;
  align-items: center;
  justify-content: center;
  // z-index: 3000;
}

.icon-rotate2 {
  font-size: 18px;
  }

.atlas__center-button {
  font-size: 15px;
  margin-bottom: 15px;
}