.footer {
  // box-shadow: $footer-shadow;
  background: $main-background-fill;
}

.footer__toggle-button {
  background: $main-background-fill;
  // box-shadow: $footer-button-shadow;
  border-top-right-radius: 5px;
  cursor: pointer;
  color: white;
  // font-size: 15px;
  
}

.footer__toggle-inner {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  height: 100%;
}

.footer__toggle-icon {
  // margin-left: 15px;
}

.footer__images {
  display: flex;
  align-items: center;
  height: 100%;
  // overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
  margin-right: $footer-height - 15;
}

.footer__image {
  width: $footer-image-height;
  height: $footer-image-height;
  background: $main-light-gray;
  margin-left: 20px;
  border-radius: $footer-image-height / 2;
  flex-shrink: 0;
  cursor: pointer;
  transition: opacity 250ms;
}

.footer__image:hover{
  opacity: 0.6;
  }

.footer__toggle-rasters-container {
  display: flex;
}

.footer__toggle-image {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  flex-shrink: 0;
  margin-right: 8px;
  background: $main-light-gray;
}

.footer__toggle-text {
  margin-left: 10px;
  padding-right: 5px;
}

.footer__categories {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  // justify-content: stretch;
}

.footer__category {
  // background: white;
  font-size: 18px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-grow: 1;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.footer__category--selected {
  background: $main-light-gray;
}

.footer__category--disabled {
  pointer-events: none;
  opacity: 0.25;
}

.footer__show-all {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: $footer-height - 15;
  height: 0px;;
  // background: $main-background-fill;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.footer__show-all-circle {
  width: $footer-image-height;
  height: $footer-image-height;
  background: $main-light-gray;
  border-radius: $footer-image-height / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: background 250ms;
}

.footer__show-all-circle:hover {
background: $main-lighter-gray;
}