.outer-eras-view,
.outer-intro-view {
  // linear-gradient(180deg,#fff 0,hsla(0,0%,100%,.9) 60%,hsla(0,0%,100%,0));
  background: $intro-gradient;
  overflow: hidden;
}



.eras__pattern,
.intro__pattern {
  background-image: url('/img/pattern-dark-01.png');
  background-size: cover;
  z-index: 100;
}

.eras__title-outer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}

.eras__stepper-years-inner,
.eras__title-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  // text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.eras__stepper-years-inner {
  height: 100%;
  font-weight: 200;
}

.intro__title,
.eras__title {
  font-size: 65px;
  font-weight: 200;
}

.intro__subtitle {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 50px;
  line-height: 36px;
  text-align: center;
}

.eras__content-outer,
.intro__content-outer {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
}

.eras__content-inner,
.intro__content-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 75px;
  width: 75%;
}

.intro__summary {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.intro__buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.intro__button {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.intro__jump-button {
  margin-left: 20px;
  border: 2px solid $main-light-gray;
  background: $main-medium-dark-gray;
  transition: border 250ms;
}

.intro__jump-button:hover {
  border: 2px solid white;
  }

.eras__map-button,
.intro__begin-button {
  background: white;
  color: #333;
  border: 2px solid white;
  transition: background 250ms;
}

.eras__map-button .icon-right-big {
  padding-left: 5px;
  }

.intro__begin-button .icon-binoculars{
  padding-right: 5px;
  }

.eras__map-button:hover,
.intro__begin-button:hover {
  background: $main-medium-dark-gray;
  color: white;
}
.eras__stepper-outer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  width: 60%;
  margin-bottom: 20px;
  // cursor: pointer;
}
// .eras__stepper {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   font-size: 34px;
//   width: 60%;
//   margin-bottom: 20px;
//   cursor: pointer;
// }

.eras__stepper-icon:before {
  color: $stepper-color;
  border-radius: 26px;
  border: 1px solid $stepper-color;
  width: 52px;
  line-height: 52px;
  margin: 0 5px;
  // font-size: 18px;
}

.eras__stepper-icon:hover:before {
  color: $stepper-color-hover;
  border-color: $stepper-color-hover;
}

.eras__stepper-icon {
  cursor: pointer;
}

.eras__stepper-years-outer {
  position: relative;
  width: 515px;
  display: flex;
  height: 52px;
  align-items: center;
  overflow: hidden;
}

.intro__language-button-outer,
.eras__back-button-outer {
  background: $main-background-fill;
}