body {
  padding: 0px;
  margin: 0px;
}

.outer-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
}

.map-outer {
  position: absolute;
  top: $header-height + $timeline-height;
  left: 0px;
  height: calc(100% - #{$header-height + $timeline-height});
  width: 100%;
}

#map {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.timeline-container {
  position: absolute;
  top: $header-height;
  left: 0px;
  height: $timeline-height;
  width: 100%;
}

.timeline-slider-container {
  position: absolute;
  top: 0px;
  left: $timeline-stepper-width;
  height: $timeline-height;
  width: calc(100% - #{$timeline-stepper-width});
}