html, body {
  // margin: 0;
  font: 13px/17px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // color: #666;
}

body {
  overflow: hidden;
}

h1 {
  font-size: 65px;
}

body {
  padding: 0px;
  margin: 0px;
  background: $main-background;
}

.outer-eras-view,
.outer-intro-view,
.outer-container,
.outer-map-view {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
}

// .outer-map-view,
// .outer-eras-view {
//   display: none;
// }

.map-outer {
  position: absolute;
  top: $header-height + $timeline-height;
  left: 0px;
  height: $map-height-without-footer;
  width: 100%;
}

.raster-probe,
.probe-buttons-container {
  position: absolute;
  right: $probe-buttons-right;
  top: $probe-buttons-top;
}

.probe-buttons-container {
  height: $probe-buttons-height;
}

.raster-probe {
  display: none;
  width: $raster-probe-width;
}

.overlay-button {
  display: none;
}


#map {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.header-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: $timeline-height + $header-height;
  z-index: 100;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: $timeline-height;
  display: flex;
  align-items: center;
  color: white;
}

.top-button-outer {
  // margin-left: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: $main-background;
  color: white;
  display: flex;
  align-items: center;
  height: $header-height;
  cursor: pointer;
  z-index: 200;
  font-size: 15px;
  font-weight: 700;
}

.top-button-inner {
  padding-left: 25px;
  padding-right: 25px;
}

.timeline-container {
  position: absolute;
  top: $header-height;
  left: 0px;
  height: $timeline-height;
  width: 100%;
}

.timeline-stepper-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: $timeline-height;
  width: $timeline-stepper-width;
  display: flex;
  
  align-items: center;
  justify-content: center;
}

.timeline-stepper {
  width: 180px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
}

.timeline-slider-container {
  position: absolute;
  top: 0px;
  left: $timeline-stepper-width;
  height: $timeline-height;
  width: calc(100% - #{$timeline-stepper-width});
}

.sidebar {
  position: absolute;
  
  top: $header-height + $timeline-height;
  left: 0px;
  width: 0px;
  z-index: 200;
  height: calc(100% - #{$header-height + $timeline-height});
  // transition: width 500ms;
}

.sidebar__toggle-button {
  position: absolute;
  // $probe-buttons-top
  
  top: $probe-buttons-top;
  left: 0px;

  z-index: 250;
  
  height: 40px;
  
}

.footer {
  position: absolute;
  background: $main-background;
  bottom: 0px;
  height: 0px;
  width: 100%;
  left: 0px;
  z-index: 300;
  display: flex;
  // transition: height 500ms;
}

.footer__categories {
  width: $footer-button-width;
  height: 100%;
}

.lightbox__outer,
.allraster__outer {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
}

.allraster__inner {
  width: 796px;
  max-height: 85%;
}

.lightbox__inner {
  width: $lightbox-width;
  max-height: 85%;
}

.outer-container.sidebar-open {
  .map-outer {
    left: $legend-width;
    width: $map-width-with-sidebar;
  }

  .sidebar__toggle-button {
    left: $legend-width;
  }

  .sidebar {
    width: $legend-width;
  }

  .footer {
    left: $legend-width;
    width: $map-width-with-sidebar;
  }
}

.outer-container.footer-open {
  .footer,
  .footer__show-all {
    height: $footer-height;
  }

  .map-outer {
    height: $map-height-with-footer;
  }
}

.outer-container.allraster-open {
  .allraster__outer {
    display: flex;
  }
}

.outer-container.overlay-on {
  .overlay-button {
    display: flex;
  }
}

.outer-container.raster-probe-on {
  .raster-probe {
    display: block;
  }
}

// .outer-container--map {
//   .map-view {
//     display: block;
//   }
// }

// .outer-container--intro {
//   .outer-intro-view {
//     display: block;
//   }
// }

.eras__pattern,
.intro__pattern {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: $intro-pattern-height;
}

.eras__content-outer,
.intro__content-outer {
  position: absolute;
  top: $intro-pattern-height + 50;
  left: 0px;
  width: 100%;
}

// .outer-container--map,
// .outer-container--intro {
//   .outer-eras-view {
//     display: none;
//   }
// }

