.outer-container--mobile {
  .allraster__inner {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100vh;
    max-height: none;
  }
  .allraster__image--mobile {
    width: 90px;
    height: 90px;
    margin-left: 10px;
    margin-right: 10px;
  }
}