.outer-container--mobile {
  .probe-buttons-container {
    top: $header-height-mobile + $timeline-height + 10;
    right: 20px;
    // width: 100%;
    // justify-content: space-between;
  }

  .overlay-button {
    margin-right: 10px;
  }

  .area-button {
    margin-left: auto;
    // margin-right: 20px;
  }

  .hint-probe__mobile {
    // margin-left: 10px;
    position: absolute;
    top: $header-height-mobile + $timeline-height + 10;
    left: 20px;
    height: $probe-buttons-height;
  }

  .area-button .icon-search-area {
    padding-right: 0px;
  }

  .area-button-text {
    display: none;
  }

  .lightbox__inner {
    width: 100%;
    max-height: none;
  }

  // .lightbox__content,
  .lightbox__inner-scroll {
    height: auto;
  }
}