
.outer-container--mobile.footer-open,
.outer-container--mobile {
  
  .mapboxgl-ctrl-bottom-left {
    bottom: $footer-bottom-mobile;
    left: $mobile-right-left-margin;
  }
  .mapboxgl-ctrl-bottom-right {
    bottom: 0px;
    // display: flex;
    // justify-content: right;
  }
  .mapboxgl-ctrl-attrib {
    display: none;
  }

  .atlas__button-container {
    margin: 0px;
  }
}