.outer-container--mobile {
  $allraster-mobile-margin: 20px;
  .allraster__inner {
    position: absolute;
    left: $allraster-mobile-margin;
    width: calc(100% - #{$allraster-mobile-margin * 2});
    top: $allraster-mobile-margin;
    height: calc(100vh - #{$allraster-mobile-margin * 2});
    max-height: none;
    background: $main-background;
  }

  .allraster__outer {
    background: $main-background;
  }

  .allraster__image--mobile {
    width: 90px;
    height: 90px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .allraster__content {
    padding: 0px;
  }

  .allraster__close-button {
    // float: right !important;
    position: absolute;
    top: 10px;
    right: 10px;
  }

}