.outer-container--mobile {
  .sidebar {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
  }

  .sidebar__toggle-button {
    display: none;
  }

  .sidebar__text-search-return-icon-mobile {
    display: none;
  }

  // .sidebar--click-search {
  //   .sidebar__close-button {
  //     display: none;
  //   }
  // }

  .sidebar--click-search {
    .sidebar__close-button {
      display: block;
    }
    .sidebar__search-return-icon {
      display: none;
    }
  }

  .sidebar--text-search {
    .sidebar__close-button {
      display: none;
    }
    .sidebar__text-search-return-icon-mobile {
      display: block;
    }
    // .sidebar__search-return-icon {
    //   display: block;
    // }
  }
}

.outer-container.outer-container--mobile.sidebar-open {
  .sidebar {
    display: block;
    width: 100%;
  }
}