.probe-buttons-container {
  display: flex;
  align-items: center;
}

.overlay-button,
.area-button {
  background: $main-background;
  color: white;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: $button-shadow;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
}

.raster-probe {
  border-radius: 5px;
  box-shadow: $button-shadow;
  background: $main-background;
  color: white;
}

.raster-probe__inner {
  padding: 15px;
}

.raster-probe__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.raster-probe__close-button {
  cursor: pointer;
}

.area-button {
  display: flex;
}

.probe-buttons-container--area-search {
  .area-button {
    background: grey;
  }
}
