.probe-buttons-container {
  display: flex;
  align-items: center;
}

.overlay-button,
.area-button {
  background: $main-background;
  color: white;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: $button-shadow;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
}

.area-button {
  display: flex;
}

.probe-buttons-container--area-search {
  .area-button {
    background: grey;
  }
}