.sidebar {
  background: $main-background-fill;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  box-shadow: $sidebar-shadow;
}

.sidebar__toggle-button {
  background: $main-background-fill;
  box-shadow: $sidebar-button-shadow;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  cursor: pointer;
}

.sidebar__toggle-help-container {
  display: flex;
  align-items: center;
}

.sidebar__toggle-button-text {
  margin-left: 15px;
  margin-right: 20px;
}

.sidebar__top {
  height: $search-input-height;
  padding-left: 15px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.sidebar__content,
.sidebar__results {
  // padding-left: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - #{$search-input-height});
}

.sidebar__layer-group-block {
  margin-bottom: 15px;
}

.sidebar__layer-group,
.sidebar__results-group {
  margin-bottom: 15px;
}

.sidebar__layer-group-title {
  // font-size: 18px;
  font-weight: bold;
  height: 34px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background: #333333;
}

.sidebar__layer-group-title,
.sidebar__layer-block {
  padding-left: 15px;
}

.sidebar__layer-title-row {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.sidebar__layer-checkbox {
  pointer-events: none;
}

.sidebar__layer-name {
  padding: 10px;
  }

.sidebar__results-button-row,
.sidebar__feature-row {
  padding-left: 15px;
  cursor: pointer;
  // min-height: 30px;
  display: flex;
  align-items: center;
  // max-width: 205px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sidebar__results-row {
  height: auto;
  display: flex;
  align-items: center;
}

.sidebar__raster-results-row {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar__results-image-row {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar__results-button-row {
  // height: 30px;
  display: flex;
  flex-grow: 2;
}

.sidebar__swatch {
  margin-right: 25px;
}

.sidebar__results-button,
.sidebar__feature-button {
  background: $main-medium-dark-gray;
  transition: background 250ms;
  // border: 1px solid $main-medium-gray;
  min-height: 20px;
  display: flex;
  align-items: center;
  flex-grow: 2;
  // height: 100%;
  max-width: 195px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.sidebar__results-button:hover,
.sidebar__results-button--highlighted,
.sidebar__feature-button:hover,
.sidebar__feature-button--highlighted {
  background: $main-light-gray;
  color: white;
}

// .sidebar__feature-button--off {
//   background: $main-medium-dark-gray;
//   color: grey;
// }

.sidebar__feature-button--inactive {
  opacity: 0.35;
  pointer-events: none;
  cursor: auto;
}

.sidebar__Feature-icon {
  padding-right: 10px;
  }

.sidebar__input {
  font-size: 15px;
  line-height: 30px;
  // border-top-left-radius: 5px;
  // border-bottom-left-radius: 5px;
  // margin-left: 15px !important;
  background: none;
  outline: none;
  margin: 0;
  padding: 1px 5px;
  border: none;
  width: 100%;
  cursor: text;
  color: white;
}

.sidebar__input:focus {
  // color: white;
}

.sidebar__search-return {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar__text-search-return-icon {
  cursor: pointer;
}

.sidebar__text-search-return-icon,
.sidebar__search-return-icon {
  font-size: 30px;
}

.sidebar__search-return-icon::before {
  margin-left: 0px;
}

.sidebar__search-return-text {
  font-size: 15px;
  font-style: italic;
}

.sidebar__raster-image {
  height: $sidebar-image-height;
  width: $sidebar-image-height;
  border-radius: $sidebar-image-height / 2;
  flex-shrink: 0;
  background: $main-light-gray;
  margin-right: 15px;
}

.sidebar--legend {
  .sidebar__text-search-return-icon,
  .sidebar__results {
    display: none;
  }
}

.sidebar--legend,
.sidebar--text-search {
  .sidebar__search-return {
    display: none;
  }
}

.sidebar--text-search,
.sidebar--click-search {
  .sidebar__search-icon,
  .sidebar__content {
    display: none;
  }
}

.sidebar--click-search {
  .sidebar__input {
    display: none;
  }
}

.sidebar--legend,
.sidebar--click-search {
  .sidebar__text-search-return-icon {
    display: none;
  }
}