.sidebar {
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
}

.sidebar__top {
  height: $search-input-height;
  padding-left: 15px;
  padding-right: 20px;
}

.sidebar__content,
.sidebar__results {
  padding-left: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - #{$search-input-height});
}

.sidebar__layer-group,
.sidebar__results-group {
  margin-bottom: 15px;
}

.sidebar__layer-group-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.sidebar__layer-row {
  cursor: pointer;
}

.sidebar__layer-row--off {
  color: grey;
}

.sidebar__layer-row--inactive {
  opacity: 0.5;
  pointer-events: none;
  cursor: auto;
}

.sidebar__input {
  font-size: 15px;
  line-height: 30px;
  // border-top-left-radius: 5px;
  // border-bottom-left-radius: 5px;
  // margin-left: 15px !important;
  outline: none;
  margin: 0;
  padding: 1px 5px;
  border: none;
  width: 100%;
  cursor: text;
}

.sidebar--legend {
  .sidebar__results {
    display: none;
  }
}

.sidebar--text-search,
.sidebar--click-search {
  .sidebar__content {
    display: none;
  }
}