$button-shadow: 0 0 8px rgba(0,0,0,0.5);

$intro-pattern-height: 85px;


$footer-height: 176px;
$footer-button-width: 50px;
$footer-image-height: 130px;

$header-height: 70px;

$legend-width: 320px;

$lightbox-background: rgba(51, 51, 51, 0.9);
$lightbox-width: 1111px;


$lightbox-shadow: 0 0 8px rgba(255,255,255,0.25);
$header-shadow: 0 0 8px rgba(255,255,255,0.25);
$sidebar-shadow: 0 4px 8px rgba(255,255,255,0.25);
$footer-shadow: 4px 0px 8px rgba(255,255,255,0.25);



$main-background: #333333;
$main-medium-dark-gray: #3b3b3b;
$main-medium-gray: #4B4B4B;
$main-lighter-gray: #808080;
$main-light-gray: #666666; 
$main-lighter-gray: #999999;

$probe-buttons-height: 36px;
$probe-buttons-right: 20px;

$raster-probe-width: 440px;

$timeline-height: 50px;
$timeline-stepper-width: 250px;
$search-input-height: 60px;

$sidebar-image-height: 100px;


$stepper-color-hover: white;
$stepper-color-disabled: #ccc;

// derived variables

$intro-gradient: linear-gradient(180deg, $main-background, rgba(51, 51, 51, 0));

$stepper-color: $main-lighter-gray;
$legend-button-background: $main-light-gray;
$probe-buttons-top: $header-height + $timeline-height + 20px;

$map-height-with-footer: calc(100% - #{$header-height + $timeline-height + $footer-height});

$map-height-without-footer: calc(100% - #{$header-height + $timeline-height});

$map-width-with-sidebar: calc(100% - #{$legend-width});
$map-width-without-sidebar: 100%;

// $mobile-width: 700px;
// $mobile-landscape-min-width: 415px;
// $mobile-portrait-max-width: 414px;

// $main-background: #333333;
// $main-light-gray: #666666; 

// $pale-green: #92A1BE;
// $dark-green: #032A74;
// $darker-green: rgb(1, 34, 95);

// $search-input-height: 60px;
// $header-height: 70px;
// $timeline-height: 50px;
// $timeline-stepper-width: 325px;

// $legend-toggle-top: 20px;

// $mobile-header-height: 50px;
// $mobile-search-height: 60px;
// $mobile-timeline-height: 50px;

// $legend-toggle-mobile-top: 110px;
// $legend-toggle-mobile-size: 15px;
// $legend-width: 320px;

// $standard-icon-size: 16px;
// $probe-button-height: 36px;
// $button-shadow: 0 0 8px rgba(0,0,0,0.5);

// $hint-probe-height: 38px;

// $standard-button-background: #eee;
// $standard-button-background-hover: #ccc;

// $standard-button-color-hover: #333;

// $dark-button-background: #999999;
// $dark-button-background-hover: #909090;

// $stepper-color: #666;
// $stepper-color-hover: white;
// $stepper-color-disabled: #ccc;

// $fixed-probe-padding: 20px;

// $mobile-filmstrip-button-bottom: 115px;
// $mobile-filmstrip-label-bottom: $mobile-filmstrip-button-bottom + 20px;

// @mixin mobile-back-arrow() {
//   color: $dark-green;
//   font-weight: bold;
//   font-size: 24px;
// }