.outer-container--intro,
.outer-container--eras {
  .map-view {
    display: none;
  }

  .sidebar,
  .sidebar__toggle-button,
  .footer {
    display: none;
  }

  .map-outer {
    height: $map-height-without-footer !important;
    width: $map-width-without-sidebar !important;
    left: 0px !important;
  }
}

.outer-container--eras,
.outer-container--map {
  .outer-intro-view {
    display: none;
  }
}

.outer-container--intro,
.outer-container--map {
  .outer-eras-view {
    display: none;
  }
}

$transition-speed: 500ms;

.outer-container--map {
  .sidebar {
    transition: width $transition-speed;
  }

  .sidebar__toggle-button {
    transition: left $transition-speed;
  }

  .map-outer {
    transition: left $transition-speed width $transition-speed;
  }

  .footer {
    transition: left $transition-speed, width $transition-speed;
  }
}

.mouse-disabled {
  pointer-events: none;
}

.transitions-disabled {
  .sidebar {
    transition: none;
  }

  .sidebar__toggle-button {
    transition: none;
  }

  .map-outer {
    transition: none;
  }

  .footer {
    transition: none;
  }
}