.outer-container--intro,
.outer-container--eras {
  .map-view {
    display: none;
  }

  .sidebar,
  .footer {
    display: none;
  }

  .map-outer {
    height: $map-height-without-footer !important;
    width: $map-width-without-sidebar !important;
    left: 0px !important;
  }
}

.outer-container--eras,
.outer-container--map {
  .outer-intro-view {
    display: none;
  }
}

.outer-container--intro,
.outer-container--map {
  .outer-eras-view {
    display: none;
  }
}

.outer-container--map {
  .sidebar {
    transition: width 500ms;
  }
}

.mouse-disabled {
  pointer-events: none;
}